<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Walks & Wags Co." %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#EFEDE7">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="canonical" href="https://www.walksandwags.uk/" />
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="<%= asset_path 'Walks_Wags_Icon.png' %>" type="image/webp">
    <link rel="shortcut icon" href="<%= asset_path 'Walks_Wags_Icon.png' %>" type="image/webp">
    <link rel="apple-touch-icon" href="<%= asset_path 'Walks_Wags_Icon.png' %>">
    <%= tag.link rel: "preload", as: "image", href: asset_path("Walks_Wags_Icon.png") %>
    <!-- Preconnect to Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Walks & Wags Co.",
      "url": "https://www.walksandwags.uk",
      "logo": "https://www.walksandwags.uk/Walks_Wags_Icon.png"
    }
    </script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,50;1,9..144,100..900,50&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <!-- Stylesheet -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- JavaScript -->
    <%= javascript_importmap_tags %>

  <body>
    <%= yield %>
    <% unless controller.controller_name == 'contact_forms' && controller.action_name == 'new' %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
